// Define default font
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&subset=latin-ext');

@import 'variables';
@import 'overrides';

html, body {
    font-family: 'Raleway', sans-serif !important;
    background: #fff;
    overflow-x: hidden;
}

.orenda-wrapper {
    .navbar.bg-light {
        background-color: #fff!important;
    }

    .punchline {
        padding-left: 4px;
    }

    img.logo {
        position: absolute;
        bottom: -15px;
        left: 16px;
    }

    .nav-decoration {
        position: fixed;
        width: 100vw;
        top: 56px;
        z-index: 10;

        .purple-line {
            height: 5px;
            background: $purple;

            &.bottom {
                position: fixed;
                bottom: 0;
            }
        }
        
        .orange-line {
            height: 5px;
            background: $orange;
        }
    }
}

.page-wrapper {
    margin-top: 61px;
    height: calc(100vh - 61px);

    // *** Shared styles ***
    h2.page-title {
        font-size: 26rem;
        line-height: 0.9;
        font-weight: 300;
        color: #d1d2d4;
    }

    .page-content {
        img {
            width: 200px;
            height: auto;
        }

        .page-text {
            font-size: 1.5rem;
            padding-left: 40px;
        }
    }

    // *** Index page ***
    #orenda-video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
    }

    /* Style the button used to pause/play the video */
    #toggle-btn {
        position: fixed;
        bottom: 10px;
        left: calc(50% - 40px);
    }

    #toggle-btn:hover {
        background: #ddd;
        color: black;
    }
}