// Define default font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@import 'variables';
@import 'overrides';

html, body {
    font-family: 'Roboto', sans-serif !important;
    background: #fff;
    overflow-x: hidden;
}

.orenda-wrapper {
    .navbar.bg-light {
        background-color: #fff!important;
    }

    .punchline {
        padding-left: 4px;
    }

    img.logo {
        position: absolute;
        bottom: -15px;
        left: 16px;
    }

    .nav-decoration {
        position: fixed;
        width: 100vw;
        top: 56px;
        z-index: 10;

        .purple-line {
            height: 5px;
            background: $purple;
        }
        
        .orange-line {
            height: 5px;
            background: $orange;
        }
    }
}

.page-wrapper {
    height: 100vh;

    #orenda-video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
    }

    /* Style the button used to pause/play the video */
    #toggle-btn {
        position: fixed;
        bottom: 10px;
        left: calc(50% - 40px);
    }

    #toggle-btn:hover {
        background: #ddd;
        color: black;
    }
}